:root {
  --blue-700: #023e73;
  --blue-500: #03588c;
  --blue-300: #5496bf;
  --blue-100: #9ac1d9;
  --white-blue: #d8ebf2;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

#navDesktop {
  display: none;
}

nav,
p {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.offcanvas {
  background-color: var(--blue-700) !important;
  color: #fff !important;
}

.offcanvas a,
h5 {
  color: #fff !important;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav a {
  color: white;
  font-size: clamp(0.9rem, 2.5vw, 2rem);
  white-space: nowrap;
  text-shadow: 1px 1px 2px #0002;
  padding: 0.8rem;
  border-radius: 0.8rem;
}

nav a:hover {
  background: var(--blue-100);
}

.subMenuContainer {
  background: var(--blue-500);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
  padding-right: 22px;
  position: sticky;
}

.subMenu ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.subMenu a {
  color: white;
  font-size: clamp(1rem, 2.5vw, 2rem);
  white-space: nowrap;
  text-decoration: none;
  text-shadow: 1px 1px 2px #0002;
  display: inline-block;
  text-align: center;
}

.subMenu a:hover {
  background: var(--blue-700);
}

.carousel {
  margin-top: 4rem;
}

@media (min-width: 768px) {
  .carousel {
    margin-top: 4rem;
  }
}

@media (min-width: 1024px) {
  #navDesktop {
    display: block;
  }

  #navMobile {
    display: none;
  }

  .carousel {
    margin-top: 0rem;
  }
}
